.fifith{
  margin-top: 4%;
  height: 50vh;
  width: 100%;
  background-color: #E4E4E4;
  display: flex;
  justify-content: space-between;
  .first{
    margin-left: 10%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width:40em) {
      margin-left: 3%;
      width: 100%;
      // background-color: red;
    }
    // 
    h3{
      font-size: 60px;
      font-family: "FrankRuhlLibre-Bold";
      @media (max-width:40em) {
        font-size: 32px;
      }
    }
  }
  .last{
    display: flex;
    justify-content: flex-end;
    height: inherit;
    width: 100%;
    margin-right: 10%;
    img{
      height: inherit;
width: 55%;
object-fit: cover;
@media (max-width:40em) {
  width: 80%;
}
    }
  }

}